.card-img-top:hover {
    transition: 1s;
    -webkit-filter: brightness(60%);
    -webkit-transform: scale(1.1);
}

a:hover {
    transition: 1s;
    -webkit-filter: brightness(60%);
    -webkit-transform: scale(1.1);
}

.centered {
    color: white;
    position: absolute;
    top: 60%;
    left: 24%;
    padding: 0px 20px;
    transform: translate(-50%, -50%);
}

/* Top left text */
.top-right {
    position: absolute;
    top: 185px;
    left: 100px;
    // text-align: center;
}

.vl {
    border-left: 3px solid orange;
    height: 250px;
    margin-top: -230px;
    margin-left: -25px;
}


.footers a {
    color: #696969;
}

.footers p {
    color: #696969;
}

.footers ul {
    line-height: 30px;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .001s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .001s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .001s;
}

.bt {
    cursor: pointer;
}

.bt:hover {
    // box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 8px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}