<nav class="navbar navbar-expand-lg navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 120px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="home" style="margin-left: 35px;"><b>Home</b></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="about" style="margin-left: 35px;"><b>About</b></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="margin-left: 35px; font-weight: bolder;" data-toggle="dropdown"
          href="#" role="button" aria-expanded="false">Services</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" routerLink="civil">Civil Work</a>
          <a class="dropdown-item" href="#" routerLink="electrical">Electrical Work</a>
          <a class="dropdown-item" href="#" routerLink="interior">Interior Work</a>
          <a class="dropdown-item" href="#" routerLink="furniture">Furniture Work</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" routerLink="painter">Painting Work</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="project" style="margin-left: 35px;"><b>Projects</b></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="contact" style="margin-left: 35px;"><b>Contact</b></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="signup" style="margin-left: 35px;"><b>Signup</b></a>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="dashboard" style="margin-left: 35px;"><b>My Dashboard</b></a>
      </li> -->

      <li class="nav-item active">
        <a class="nav-link" routerLink="feedback" style="margin-left: 35px;"><b>Feedback</b></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>


<router-outlet></router-outlet>


<section class="footers bg-light pt-5 pb-3" style="display: flex; background-color: black;">
  <div class="container pt-5">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
        <div class="footers-logo">

          <a href="#home" class="w3-bar-item w3-button"><span style="color:red; font-size: 30px;"><b>SD</b></span><b
              style=" font-size: 30px;">Constrution</b></a>

        </div>
        <div class="footers-info mt-3">
          <!-- <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the
                      best.</p> -->
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
        <h5>Essentials </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Search</a></li>
          <li><a href="contact.html">Sell your Products</a></li>
          <li><a href="about.html">Advertise with us</a></li>
          <li><a href="about.html">Dealers Portal</a></li>
          <li><a href="about.html">Post Requirements</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <h5>Information </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Register Now</a></li>
          <li><a href="contact.html">Advice</a></li>
          <li><a href="about.html">Videos</a></li>
          <li><a href="about.html">Blog</a></li>
          <li><a href="about.html">Services</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
        <h5>Explore </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">News</a></li>
          <li><a href="contact.html">Sitemap</a></li>
          <li><a href="about.html">Testimonials</a></li>
          <li><a href="about.html">Feedbacks</a></li>
          <li><a href="about.html">User Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
        <h5>Company </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Career</a></li>
          <li><a href="about.html">For Parters</a></li>
          <li><a href="about.html">Terms</a></li>
          <li><a href="about.html">Policy</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>


<section class="disclaimer bg-light border">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 py-2">
        <small>
          Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the
          transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or
          control in any manner any transactions between the Seller and the Customer/Buyer/User. All the
          offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who
          have advertised their products. Element is only communicating the offers and not selling or
          rendering any of those products or services. It neither warrants nor is it making any
          representations with respect to offer(s) made on the site. Element Limited shall neither be
          responsible nor liable to mediate or resolve any disputes or disagreements between the
          Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such
          disputes without involving Element Limited in any manner.
        </small>
      </div>
    </div>
  </div>
</section>


<section class="copyright border">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 pt-3">
        <p class="text-muted">© SDConstruction </p>
      </div>
    </div>
  </div>
</section>