@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400&display=swap');


.imgBx {
    /* Add shadows to create the "imgBx" effect */
    box-shadow: 0 10px 15px 0 rgba(16, 15, 15, 0.2);
    transition: 0.3s;
}

.imgBx:hover {
    box-shadow: 0 30px 38px 0 rgba(2, 2, 2, 0.2);
}

/* Top left text */
.top-left {
    position: absolute;
    top: 100px;
    left: 200px;
}

.card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 20px 28px 0 rgba(0, 0, 0, 0.2);
}

.footers a {
    color: #060606;
}

.footers p {
    color: #100e0e;
}

.footers ul {
    line-height: 30px;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .001s;
}

#social-tw:hover {
    color: #4b9bf6;
    transition: all .001s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .001s;
}

section {
    padding: 20px;
}

.banner .content h1 {
    font-size: 100px;
    color: rgb(244, 239, 239);
}

.banner1 .content h2 {
    font-size: 50px;
    color: rgb(10, 10, 10);
    margin-left: 35%;
}

.banner1 .content h4 {
    font-size: 20px;
    color: rgb(10, 10, 10);
    margin-left: 40%;
}

.row {
    flex-direction: column;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
}

@media (max-width:991px) {
    .banner .content {
        max-width: 800px;
        text-align: center;
    }

    .banner .content h1 {
        font-size: 2em;
        color: rgb(255, 247, 247);
    }

    .banner1 .content h2 {
        font-size: 2em;
        color: rgb(19, 18, 18);
    }

    .banner1 .content h4 {
        font-size: 1em;
        color: rgb(19, 18, 18);
    }

    .testimonials .content .box .imgBx {
        position: relative;
        width: 50px;
        height: 100px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .btn {
        font-size: 2em;
        color: rgb(6, 6, 6);
        background: rgb(166, 255, 0);
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .btn:hover {
        letter-spacing: 6px;
    }
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 20px;
    background: rgb(238, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.testimonials .content .box .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;

    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    color: rgb(19, 15, 15);
}

.btn {
    font-size: 1em;
    color: #fff;
    background: rgb(57, 57, 240);
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-left: 45%;
}

.btn:hover {
    letter-spacing: 5px;
}