<section class="banner1" id="banner1">
    <div class="content">
        <h4 style="text-decoration: underline;">Furniture Material We Offer & Provides</h4><br>
        <h2><span style="color:red ;"> Our</span>-Furniture Material</h2>
    </div>
</section>

<section class="testimonials" id="testimonials" style="background: url(../assets/bg.webp) ;background-size: cover;">
    <div class="title white">
        <h1 class="titleText" style="margin-left: 10%;color: black;"></h1>
    </div>

    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/bed1.jpg">
            </div>

            <div class="namePrice">
                <h3 style="text-align: left;">Supreme CPVC Pipes</h3>
                <span> $ 100.99</span>
            </div>
            <p>The most suitable solution for hot and cold water is Supreme Lifeline C-PVC, which is made using the
                world’s finest Japanese material technology</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>



        <div class="box">
            <div class="imgBx">
                <img src="../../assets/fu.jpg">
            </div>
            <div class="namePrice">
                <h3>

                    Pipe Roll 50mtr </h3>
                <span> $ 250.99</span>
            </div>
            <p>Dulux Professional Solitaire A1000 is a water based, high quality durable and washable emulsion paint
                with rich matt finish
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/windoe.jpg">
            </div>
            <div class="namePrice">
                <h3>
                    Bathroom Health Faucet</h3>
                <span> $ 1900.99</span>
            </div>
            <p>Material: Stainless Steel Type: Health Faucet Installation Type: Wall Mount Installation Type Faucet
                Control: Handle Controlled Product Breadth: 8 Cm Product Height: 8 Cm .</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>
    </div>

    <!-- 2nd line -->

    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/soffa.jpg">
            </div>

            <div class="namePrice">
                <h3>BASSINO Art Countertop</h3>
                <span> $ 2100.99</span>
            </div>
            <p>BASSINO Art Countertop, Tabletop Ceramic Bathroom Sink/Basin (White Marble, 560x390x115 Mm)</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>



        <div class="box">
            <div class="imgBx">
                <img src="../../assets/table.jpg">
            </div>
            <div class="namePrice">
                <h3>Plastic Water Tank</h3>
                <span> $ 600.99</span>
            </div>
            <p>Sigma White Triple Layer Plastic Water Storage Tank Brand
                Sigma
                Capacity
                1000L
                Layer Type
                Triple Layer
                Shape
                Round
                Application
                For Water Storage
                Color
                White</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/bed.jpg">
            </div>
            <div class="namePrice">
                <h3>Bend PVC 90° 90MM</h3>
                <span> $ 160.99</span>
            </div>
            <p> stock tubing is held firmly in place while the end is rotated and rolled around the die.</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>
    </div>

</section>