<!-- <section class="banner" id="banner" style="position: relative;width:100%;min-height: 80vh;display: flex;justify-content: center;align-items: center;
      ;background-size: cover;background-image: url(https://source.unsplash.com/1000x500/?furniture-works);">
</section> -->

<section class="banner1" id="banner1">
    <div class="content text-center">
        <h4 style="text-decoration: underline;">Furniture Material We Offer & Provides</h4><br>
        <h2><span style="color:red ;"> Our</span>-Furniture Materials</h2>
    </div>
</section>

<section class="testimonials" id="testimonials"
    style="background: url(https://source.unsplash.com/1500x1500/?furnitures) ;background-size: cover; display: flex; flex-wrap: wrap; justify-content: center;">


    <div class="content" *ngFor="let data of data">
        <div class="box">
            <div class="imgBx">
                <img src="{{data.image}}">
            </div>

            <div class="namePrice">
                <h3 style="text-align: left;">{{data.title}}</h3>
                <span>price - {{data.price}}</span>
            </div>
            <p>{{data.description}}</p>

            <a class="nav-link" class="btn" routerLink="/checkout/{{data._id}}">Buy Now</a>
        </div>
    </div>

</section>