<section class="banner1" id="banner1">
    <div class="content">
        <h4 style="text-decoration: underline;"> Electric Material We Offer & Provides</h4><br>
        <h2><span style="color:red ;"> Our</span>-Electrical Materials</h2>
    </div>
</section>

<section class="testimonials" id="testimonials"
    style="background: url(https://source.unsplash.com/1800x2000/?electrical) ;background-size: cover;">
    <div class="title white">
        <h1 class="titleText" style="margin-left: 10%;color: black;"></h1>
    </div>

    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/ELE2 (1).jpeg">
            </div>

            <div class="namePrice">
                <h3 style="text-align: left;"> Copper Wire Electrical </h3>
                <span> $ 900.99</span>
            </div>
            <p>Attwood 14361-5 Insulated 8-Gauge Copper Wire Electrical Equipment, One Size</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/ELE1 (1).jpeg">
            </div>
            <div class="namePrice">
                <h3>Skywell PVC Plastic Material Portable</h3>
                <span> $ 500.99</span>
            </div>
            <p>Skywell PVC Plastic Material Portable Electric Switch Board Spy Guard Extension Board 4 Switch4, Plug
                ,5meter Wire with 1 Attached 3 Pin Power Plug</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/ELE (1).jpeg">
            </div>
            <div class="namePrice">
                <h3> 4 pin Socke</h3>
                <span> $ 220.99</span>
            </div>
            <p>XenderCage 4 pin Socket Parallel Adapter Holder with Bulb Holder and Plug Socket (White, Pack of 2)</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>
    </div>


    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/INDRICO.jpg">
            </div>

            <div class="namePrice">
                <h3>INDRICO PVC 1200W </h3>
                <span> $ 210.99</span>
            </div>
            <p>INDRICO PVC 1200W 1 Way Extension Board with Sockets and Long Wire (Pack of 1, White) (10 meter Cable)
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>



        <div class="box">
            <div class="imgBx">
                <img src="../../assets/Fybros.jpg">
            </div>
            <div class="namePrice">
                <h3>Fybros Comex 3 Pin </h3>
                <span> $ 600.99</span>
            </div>
            <p>Fybros Comex 3 Pin Extension Cord, Extension Box, Power Strip with International Socket I2 Year Warranty,
                5 Meter Heavy Duty Spike Guard</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/Lamp.jpg">
            </div>
            <div class="namePrice">
                <h3>DASYA ENTERPRISES</h3>
                <span> $ 297.99</span>
            </div>
            <p>DASYA ENTERPRISES ® 100 Watts PVC Waterproof Bulkhead Wall Hanging Light Lamp (White, 20x10x9 cm) Pack of
                2</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>
    </div>

</section>