<section class="banner1" id="banner1">
    <div class="content">
        <h4 style="text-decoration: underline;"> Electric Material We Offer & Provides</h4><br>
        <h2><span style="color:red ;"> Our</span>-Electrical Materials</h2>
    </div>
</section>

<section class="testimonials" id="testimonials"
    style="background: url(https://source.unsplash.com/1800x2000/?electrical) ;background-size: cover; display: flex; flex-wrap: wrap; justify-content: center;">


    <div class="content" *ngFor="let data of data">
        <div class="box">
            <div class="imgBx">
                <img src="{{data.image}}">
            </div>

            <div class="namePrice">
                <h3 style="text-align: left;">{{data.title}}</h3>
                <span>price - {{data.price}}</span>
            </div>
            <p>{{data.description}}</p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn" routerLink="/checkout/{{data._id}}">Buy Now</a>
        </div>
    </div>

</section>