<section class="banner" id="banner" style="position: relative;width:100%;min-height: 80vh;display: flex;justify-content: center;align-items: center;
      ;background-size: cover;background-image: url(https://source.unsplash.com/1000x500/?civil-engineer);">
</section>

<section class="banner1" id="banner1">
    <div class="content">
        <h4>All Construction Related Material We Offer & Provides</h4>
        <h2 style="text-decoration: underline;"><span style="color:red ; text-decoration: underline;">All</span>
            -Construction Material</h2>
    </div>
</section>

<section class="testimonials" id="testimonials"
    style="background: url(https://source.unsplash.com/1500x1500/?construction-interior) ;background-size: cover; background-attachment: fixed;">
    <div class="title white">
        <h1 class="titleText" style="margin-left: 10%;color: black;"></h1>
    </div>

    <div class="content">

        <div class="box">
            <div class="imgBx">
                <img src="https://source.unsplash.com/300x300/?paint-boxes">
            </div>

            <div class="namePrice">
                <h3><b>Paint</b></h3>
                <!-- <i style='font-size:24px ' class='fas'>&#xf061;           <h4 style="text-decoration: underline;">Asian Paint</h4>
          </i>
          <h4 style="text-decoration: underline;">Asian Paint</h4>
          <h4 style="text-decoration: underline;">Asian Paint</h4> -->
                <div>

                    <i class="fa fa-arrow-right"></i>

                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Asian Paints.
                    </a>
                    <br>
                    <i class="fa fa-arrow-right"></i>
                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Indigo Paints.
                    </a>
                    <br>
                    <i class="fa fa-arrow-right"></i>
                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Dulux Paints.
                    </a>
                </div>
                <br>
                <p>Fiverr freelancer will provide Packaging & Label Design services and design paint coating bucket drum
                    bottle
                </p>
            </div>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>

            <a class="nav-link" class="btn" href="/painter">Buy Now</a>
            <div>
                <button type="button" class="btn1 btn-default btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>

                </button>
            </div>


        </div>

        <div class="box">
            <div class="imgBx">
                <img src="https://source.unsplash.com/300x300/?plumber">
            </div>
            <div class="namePrice">
                <h3><b>Plumber</b></h3>
                <div>

                    <i class="fa fa-arrow-right"></i>

                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Pipe and tube benders.
                    </a>
                    <br>
                    <i class="fa fa-arrow-right"></i>
                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Sanitary
                    </a>
                    <br>
                    <i class="fa fa-arrow-right"></i>
                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        shower
                    </a>
                </div>
                <br>

                <p>Find here online price details of companies selling Plumbing Accessories. ... Wholesaler s for
                    plumbing
                    material Upvc cpvc swr pvc pipe and fitting .
                </p>
            </div>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>

            <a class="nav-link" class="btn" href="plumber">Buy Now</a>
            <div>
                <button type="button" class="btn1 btn-default btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>

                </button>
            </div>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="https://source.unsplash.com/300x300/?electrical-works">
            </div>
            <div class="namePrice">
                <h3><b>Electrical</b></h3>
                <div>

                    <i class="fa fa-arrow-right"></i>

                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Electrical Switches.
                    </a>
                    <br>
                    <i class="fa fa-arrow-right"></i>
                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Wires & Cables.
                    </a>
                    <br>
                    <i class="fa fa-arrow-right"></i>
                    <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                        Electrical Doorbells.
                    </a>
                </div>
                <br>

                <p>Electrical Wire is drawn metal, copper or aluminum that carries electricity through an electrical
                    circuit.
                </p>
            </div>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>

            <a class="nav-link" class="btn" href="electrician">Buy Now</a>
            <div>
                <button type="button" class="btn1 btn-default btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>

                </button>
            </div>
        </div>

        <div class="content">
            <div class="box">
                <div class="imgBx">
                    <img src="https://source.unsplash.com/300x300/?concrete-works">
                </div>

                <div class="namePrice">
                    <h3><b>Concreate</b></h3>
                    <div>

                        <i class="fa fa-arrow-right"></i>

                        <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                            Cement.
                        </a>
                        <br>
                        <i class="fa fa-arrow-right"></i>
                        <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                            rough and fine aggregates.
                        </a>
                        <br>
                        <i class="fa fa-arrow-right"></i>
                        <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                            stone and sand.
                        </a>
                    </div>
                    <br>

                    <p>Concrete used in construction may also contain reinforcing bars, welded wire fabric (wire mesh),
                        and
                        various reinforcing fibers.</p>
                </div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <a class="nav-link" class="btn" href="concrete">Buy Now</a>
                <div>
                    <button type="button" class="btn1 btn-default btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart">
                        </span>

                    </button>
                </div>
            </div>

            <div class="box">
                <div class="imgBx">
                    <img src="https://source.unsplash.com/300x300/?furniture-works">
                </div>
                <div class="namePrice">
                    <h3><b>Furniture</b></h3>
                    <div>

                        <i class="fa fa-arrow-right"></i>

                        <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                            Bed Room Set.
                        </a>
                        <br>
                        <i class="fa fa-arrow-right"></i>
                        <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                            Soffa Set.
                        </a>
                        <br>
                        <i class="fa fa-arrow-right"></i>
                        <a href="#" style="color: black;font-weight:500;font-size: 18px;">
                            Door Diff Design.
                        </a>
                    </div>
                    <br>

                    <p>Concrete used in construction may also contain reinforcing bars, welded wire fabric (wire mesh),
                        and
                        various reinforcing fibers.</p>
                </div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <a class="nav-link" class="btn" href="furniture">Buy Now</a>
                <div>
                    <button type="button" class="btn1 btn-default btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart">
                        </span>

                    </button>
                </div>
            </div>

            <div class="box">
                <div class="imgBx">
                    <img src="https://source.unsplash.com/300x300/?tiles-decorations">
                </div>
                <div class="namePrice">
                    <h3>Tiles</h3>
                    <span> $ 200.99</span>
                </div>
                <p> aisnd adufhuef hfueyf aisnd adufhuef hfueyf
                </p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <a class="nav-link" class="btn" href="tiles">Buy Now</a>
            </div>
        </div>

    </div>
</section>