section {
    padding: 30px;
}

.banner1 {
    text-align: center;
    margin-top: 5%;
}

.banner .content h1 {
    font-size: 100px;
    color: rgb(244, 239, 239);
}

.banner1 .content h2 {
    font-size: 50px;
    color: rgb(10, 10, 10);
}

.banner1 .content h4 {
    font-size: 20px;
    color: rgb(10, 10, 10);
}

.row {
    flex-direction: column;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
}

@media (max-width:991px) {
    .banner .content {
        max-width: 800px;
        text-align: center;
    }

    .banner .content h1 {

        font-size: 2em;
        color: rgb(255, 247, 247);
    }

    .banner1 .content h2 {

        font-size: 2em;
        color: rgb(19, 18, 18);
    }

    .banner1 .content h4 {

        font-size: 1em;
        color: rgb(19, 18, 18);
    }

    .testimonials .content .box .imgBx {
        position: relative;
        width: 50px;
        height: 100px;
        margin-bottom: 20px;

        overflow: hidden;
    }

    .btn {
        font-size: 1em;
        color: rgb(6, 6, 6);
        background: rgb(166, 255, 0);
        display: inline-block;
        padding: 10px 30px;
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .btn:hover {
        letter-spacing: 6px;
    }
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;

    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    color: rgb(19, 15, 15);
}


.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 20px;
    background: rgba(244, 244, 247, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.testimonials .content .box .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    color: rgb(19, 15, 15);
}

.btn {
    font-size: 1em;
    color: #fff;
    background: rgb(74, 74, 249);
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: rgb(74, 74, 249);
    display: inline-block;
    padding: 10px 20px;
    margin-left: 200px;
    margin-bottom: 18px;
    letter-spacing: 2px;
}

.btn1:hover {
    letter-spacing: 6px;
}

// .box:hover {
//     transform: translatey(-15px);
//     box-shadow: 0 5px 10px rgb(43, 42, 42);
// }