<div class="container-fluid">


    <div id="demo" class="row carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/sky.jpg" alt="Scyscrappers" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Scyscrappers</h3>
                    <!-- <p>We had such a great time in LA!</p> -->
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/expressways.jpg" alt="Expressways" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Expressways</h3>
                    <!-- <p>Thank you, Chicago!</p> -->
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/res.jpg" alt="Residential Colonies" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Residential Colonies</h3>
                    <!-- <p>We love the Big Apple!</p> -->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" routerLink="/#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" routerLink="/#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <hr>


    <div class="container-fluid mt-5 mb-5"
        style="display: flex; padding: 60px 100px; background-color: rgb(245, 245, 245);">

        <div class="text col-lg-6 col-md-6 col-sm-12" style="text-align: justify;">
            <h2>Our Mission:</h2>
            <hr style="width: 33%; margin-left: 0%;">
            <p class="mt-4" style="font-size: larger; font-style: italic;">Our work is to supply materials for
                construction projects. Materials includes construction raw materials, electrical material, painting
                material, furniture for inner decorations. We provide materials at very low cost and faster to complete
                the projects on time.</p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../assets/mission.jpg" class="rounded float-end img-fluid" alt="">
        </div>

    </div>
    <hr>


    <div class="container mt-5 mb-5">

        <h1>Our Services:</h1>
        <hr style="width: 21%; margin-left: 0%;">
        <div class="row row-cols-1 row-cols-md-4 g-5 mt-3">
            <div class="col">
                <div class="card h-100" style="border: none;">
                    <img src="../assets/design.jpg" class="card-img-top rounded" alt="">
                    <div class="card-body" style="padding:0px">
                        <h5 class="card-title" style="font-size: 30px; color: #cb2525; font-weight: 700;">Electrical
                            Work</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a routerLink="/electrical" style="text-decoration: none;
                            color: red;
                            font-weight: 700;">Click For More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="border: none;">
                    <img src="../assets/construction building.jpg" class="card-img-top rounded" alt="">
                    <div class="card-body" style="padding:0px">
                        <h5 class="card-title" style="font-size: 30px; color: #cb2525; font-weight: 700;">Interior Work
                        </h5>
                        <p class="card-text">This is a short card.</p>
                        <a routerLink="/interior" style="text-decoration: none;
                        color: red;
                        font-weight: 700;">Click For More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="border: none;">
                    <img src="../assets/maintainence.jpg" class="card-img-top rounded" alt="">
                    <div class="card-body" style="padding:0px">
                        <h5 class="card-title" style="font-size: 30px; color: #cb2525; font-weight: 700;">Furniture
                        </h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <a routerLink="/furniture" style="text-decoration: none;
                            color: red;
                            font-weight: 700;">Click For More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="border: none;">
                    <img src="../assets/painting.jpg" class="card-img-top rounded" alt="">
                    <div class="card-body" style="padding:0px">
                        <h5 class="card-title" style="font-size: 30px; color: #cb2525; font-weight: 700;">Painting Work
                        </h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a routerLink="/painter" style="text-decoration: none;
                            color: red;
                            font-weight: 700;">Click For More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>


    <div class="container mt-5 mb-5">

        <h1>Our Materials In Major Projects:</h1>
        <hr style="width: 32%; margin-left: 0%;">
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
            <div class="col">
                <div class="card text-bg-dark">
                    <img src="../assets/bridge.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">Bridge</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-dark">
                    <img src="../assets/tower.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">World One Tower</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-dark">
                    <img src="../assets/expressway.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">North Expressway</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-dark">
                    <img src="../assets/colony.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">Colony</h5>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card text-bg-dark">
                    <img src="../assets/steel plant.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">Steel Plant</h5>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card text-bg-dark">
                    <img src="../assets/factory.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">Factory</h5>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card text-bg-dark">
                    <img src="../assets/highway.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">State Highways</h5>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card text-bg-dark">
                    <img src="../assets/railway.jpg" class="card-img-top img-fluid" alt="..." style="height: 100%;">
                    <div class="card-img-overlay" style="margin-top: 160px; color: white;">
                        <h5 class="card-title">Railway lines</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


    <section class="text-gray-600 body-font mt-5"
        style="background-image: url(../assets/scy.jpg); background-attachment: fixed; height: 300px; background-repeat: no-repeat; background-size: cover; background-color: rgba(0, 0, 0, 0.5); display: flex; align-items: center;">
        <div class="container px-5 py-24 mx-auto" style="display: flex; justify-content: center;">
            <div class="flex flex-wrap -m-4 text-center"
                style="display: flex; color: white; font-size: larger; font-weight: 600;">
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900" style="color:white">80</h2>
                    <p class="leading-relaxed">Completed</p>
                </div>
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900" style="color:white">15</h2>
                    <p class="leading-relaxed">Underconstruction</p>
                </div>
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900" style="color:white">10</h2>
                    <p class="leading-relaxed">Approved Projects</p>
                </div>
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900" style="color:white">5</h2>
                    <p class="leading-relaxed">Under Planning</p>
                </div>
            </div>
        </div>
    </section>


</div>