.carousel-inner img {
    width: 100%;
    height: 100%;
}

.btn:hover {
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

.card-img-top:hover {
    transition: 1s;
    -webkit-filter: brightness(60%);
    -webkit-transform: scale(1.1);
}

.centered {
    color: white;
    position: absolute;
    top: 60%;
    left: 24%;
    padding: 0px 210px;
    transform: translate(-50%, -50%);
}