<section class="banner1" id="banner1">
    <div class="content">
        <h4 style="text-decoration: underline;">Paint Material We Offer & Provides</h4><br>
        <h2><span style="color:red ;"> Our</span>-Paint Material</h2>
    </div>
</section>

<section class="testimonials" id="testimonials" style="background: url(../assets/bg.webp) ;background-size: cover;">
    <div class="title white">
        <h1 class="titleText" style="margin-left: 10%;color: black;"></h1>
    </div>

    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/asan.jpg">
            </div>

            <div class="namePrice">
                <h3 style="text-align: left;">Asian Paint</h3>
                <span> $ 200.99</span>
            </div>
            <p>Asian Paints Royale Health Shield Anti-Bacterial All Surface Coating (Gloss Finish), DIY Protective Clear
                Coat for Wall, Wood & Metal –
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>



        <div class="box">
            <div class="imgBx">
                <img src="../../assets/p2.jpg">
            </div>
            <div class="namePrice">
                <h3>
                    Dulux Paint </h3>
                <span> $ 300.99</span>
            </div>
            <p>Dulux Professional Solitaire A1000 is a water based, high quality durable and washable emulsion paint
                with rich matt finish
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/paiint3.jpg">
            </div>
            <div class="namePrice">
                <h3>Berger Paint </h3>
                <span> $ 900.99</span>
            </div>
            <p>Berger Weather Coat Champ Paint for Exterior and Interior Walls (White).Berger Weather Coat Champ Paint
                for Exterior and Interior Walls (White).
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>
    </div>

    <!-- 2nd line -->

    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/paint4.jpg">
            </div>

            <div class="namePrice">
                <h3>Fixit Paint</h3>
                <span> $ 800.99</span>
            </div>
            <p>Dr. Fixit 201 Crack X Paste, Crack Filler - 1Kg+Dr.Fixit 604 Primeseal acrylic coating For External Wall
                Waterproofing - 1 Litre
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>



        <div class="box">
            <div class="imgBx">
                <img src="../../assets/paint5.jpg">
            </div>
            <div class="namePrice">
                <h3>Mercury Brush</h3>
                <span> $ 600.99</span>
            </div>
            <p>Double Thickness Triple Boiled 100% Pure Nylon/Polyester Blend Round Bristles
                Paint Brush for All Application, Set of 4 (1"+2"+3"+4" Inch) 75 mm Long Black Bristle
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="../../assets/p6.jpg">
            </div>
            <div class="namePrice">
                <h3>BEHR Paint</h3>
                <span> $ 200.99</span>
            </div>
            <p> Weather Coat Champ Paint for Exterior and Interior Walls (White).Berger Weather Coat Champ Paint for
                Exterior and Interior Walls (White).
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <a class="nav-link" class="btn">Buy Now</a>
        </div>
    </div>

</section>