@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap');

:root {
    --bodyBack: #ffeaed;
    --textColor: rgb(190, 19, 19);
    --starColor: yellow;
    --sectionBack: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--textcolor);
}

.products {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    position: relative;
    background-color: var(--sectionBack);
    width: 350px;
    height: 100%;
    box-shadow: 0 5px 28px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}

.box:hover {
    transform: translatey(-15px);
    box-shadow: 0 5px 10px rgb(43, 42, 42);
}

.image {
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
}

.image img {
    width: 300px;
}

.namePrice {
    width: 100%;
    justify-content: space-between;
}

.namePrice h3 {
    font-size: 2em;
    text-decoration: capitalize;
    color: var(--textColor);
}

.namePrice span {
    font-size: 1.5em;
    color: red;
}

.product p {
    font-size: 18px;
    line-height: 25px;
}

.stars svg {
    font-size: 5em;
    color: var(--starColor);
}

.buy {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.buy button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;

}


section {
    padding: 50px;
}

.banner .content h1 {
    font-size: 100px;
    color: rgb(244, 239, 239);
}

.banner1 .content h2 {
    font-size: 50px;
    color: rgb(10, 10, 10);
}

.banner1 .content h4 {
    font-size: 20px;
    color: rgb(10, 10, 10);
}

.row {
    flex-direction: column;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
}

@media (max-width:991px) {
    .banner .content {
        max-width: 800px;
        text-align: center;
    }

    .banner .content h1 {
        font-size: 2em;
        color: rgb(255, 247, 247);
    }

    .banner1 .content h2 {
        font-size: 2em;
        color: rgb(19, 18, 18);
    }

    .banner1 .content h4 {
        font-size: 1em;
        color: rgb(19, 18, 18);
    }

    .testimonials .content .box .imgBx {
        position: relative;
        width: 50px;
        height: 100px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .btn {
        font-size: 1em;
        color: rgb(6, 6, 6);
        background: rgb(166, 255, 0);
        display: inline-block;
        padding: 10px 30px;
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .btn:hover {
        letter-spacing: 6px;
    }
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;

    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    color: rgb(19, 15, 15);
}


.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 20px;
    background: rgba(244, 244, 247, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    color: rgb(19, 15, 15);
}

.btn {
    font-size: 1em;
    color: #fff;
    background: rgb(74, 74, 249);
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    text-align: center;
}

.btn:hover {
    letter-spacing: 6px;
}