<!-- <section class="banner" id="banner" style="position: relative;width:100%;min-height: 80vh;display: flex;justify-content: center;align-items: center;
      ;background-size: cover;background-image: url(https://source.unsplash.com/1000x500/?painter);">
</section> -->

<section class="banner1" id="banner1">
    <div class="content text-center">
        <h4 style="text-decoration: underline;">Paint Material We Offer & Provides</h4><br>
        <h2><span style="color:red ;"> Our</span>-Paint Material</h2>
    </div>
</section>

<section class="testimonials" id="testimonials"
    style="background: url(https://source.unsplash.com/1500x1500/?painting) ;background-size: cover; display: flex; flex-wrap: wrap; justify-content: center;">


    <div class="content" *ngFor="let paint of paintlist">
        <div class="box">
            <div class="imgBx">
                <img src="{{paint.image}}">
            </div>

            <div class="namePrice">
                <h3 style="text-align: left;">{{paint.title}}</h3>
                <span>price - {{paint.price}}</span>
            </div>
            <p>{{paint.description}}
            </p>

            <a class="nav-link" class="btn" *ngIf="userloggedin == true" routerLink="/checkout/{{paint._id}}">Buy
                Now</a>
            <a class="nav-link" class="btn" *ngIf="userloggedin == false" routerLink="/login">Login Now</a>
        </div>
    </div>

</section>